<style lang="scss">
  body {
    font-family: 'Montserrat', sans-serif;
  }
</style>
<template>

  <div>
  <b-navbar  toggleable="lg" type="dark" variant="primary">
    <div class="container">
    <b-navbar-brand><router-link :to="{ name: 'home' }" title="Home" class="logo_link text-white">Git Task</router-link></b-navbar-brand>

  <!-- <div class="text-white brand_name pt-2 pb-2 ml-auto mr-auto">Laravel6</div> -->



      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">

        <b-navbar-nav>
          <b-nav-item :to="{ name: 'repositories' }" title="Repositories" class="p-0"><b-icon icon="code-square" style="width: 30px; height: 30px;" class="text-white float-left mr-2" aria-hidden="true"></b-icon><span class="text-white ml-2 mr-2 d-block d-lg-none" style=""></span></b-nav-item>
        </b-navbar-nav>

      </b-navbar-nav>
  </div>
  </b-navbar>
        <div class="container" style="min-height:600px;">
             <router-view></router-view>
        </div>
        <footer class="text-center bg-primary p-2"><span class="text-white">Git Task, 2021</span></footer>
    </div>

</template>
<script>

    export default {
      data() {
        return {

        }
      },
      watch: {
        '$route' (to, from) {
          document.title = `${to.meta.title} | Git Task`
        }
      },
      methods: {
          
      },
      mounted: function () {

      },
      created() {
    
      },
      computed: {

      },      

    }
</script>
