<template>
  <div class="home">

  <b-container class="bv-example-row ">

    <div class="text-center mt-5" id="home_div">
      <b-row>

        <b-col sm="12" cols="12" md="6" offset-md="3" class="text-center">

          <b-icon class="text-primary" icon="github" style="height:200px;width:200px" aria-hidden="true"></b-icon>


          <p class="w-100">Add a public Github Repository</p>

          <b-form @submit.prevent="submitTestForm">
              <b-form-group
                id="input-url"
                label=""
                label-for="input-url"
                class="text-left"
              >
                <b-form-input
                class="rounded-pill"
                  id="input-1"
                  v-model="url"
                  type="url"
                  placeholder="Enter a Github repository url"
                  autocomplete="off"
                  name="url"
                  size="lg"
                ></b-form-input>
                <small class="text-center">e.g., https://github.com/twbs/bootstrap</small>
              </b-form-group>

              

              <b-button type="submit" class="mt-5" pill block variant="primary" size="lg" :disabled="!isValid">Add <b-icon class="float-right" icon="plus" style="height:30px;width:30px" aria-hidden="true"></b-icon></b-button>

            </b-form>
        </b-col>

  </b-row>
   <div id="system_alert" class="container-w-75 m-auto">
          <SystemAlert></SystemAlert>
    </div>
  </div>
  </b-container>

  </div>
</template>

<script>
   import { mapGetters, mapActions } from "vuex";
  export default {
     components: {
    },
    data() {
      return {
         url:'',
        isValid:false
      }
    },
    methods: {
      isValidURL(string) {
        var res = string.match(/(https?:\/\/(.+?\.)?github\.com(\/[A-Za-z0-9\-\._~:\/\?#\[\]@!$&'\(\)\*\+,;\=]*)?)/g);
        return (res !== null)
      },
      submitTestForm(){
            this.$store.commit('Repository/setLoading', true)
            this.$store.commit('Alert/resetState')
            axios.post('api/v1/repositories', {url:this.url})
                .then(response => {
                  this.$store.commit('Repository/setLoading', false)
                  this.$router.push({ name: 'repositories'})
                })
                .catch(error => {
                  let message = error.response.data.message || error.message
                  if(error.response.data.hasOwnProperty("data") && error.response.data.data.url.length){
                    message = message + " - " + error.response.data.data.url[0]
                  }
                    this.$store.dispatch('Alert/setAlert', {
                      message: message,
                      color: 'warning',
                    }, 
                    {
                      root:true
                    })
                })
                .finally(() => {
                    this.$store.commit('Repository/setLoading', false)
                })

      }
    },
    watch: {
      url(value){
        this.isValid = this.isValidURL(value)
      },
      loading(val) {
        document.getElementById('mute').className = val ? "on" : "";
      },

    },
    components: {
    },
    mounted: function () {

    },
    created() {
      
    },
    computed: {
        ...mapGetters("Repository", ["loading"]),
    }, 
  }
</script>
<style>

</style>
