<template>
  <div class="repository">

  <b-container class="bv-example-row ">

    <div class="mt-5 mb-3" id="repository_div">
      <b-row class="mb-3">

        <b-col cols="12" v-if="Object.keys(repositories).length">
        <h1 ><b-icon class="text-primary" icon="list-ul" aria-hidden="true"></b-icon> Repositories</h1>
        <b-list-group >
        <b-list-group-item href="#" @click="getRepository(repository.id)" v-for="repository in repositories.data" :key="repository.id" 
        class="repository_list"
        >
            <span style="font-weight: 600;">URL:</span> {{ repository.url }}
            <hr class="mt-1 mb-1">
            <span style="font-weight: 600;">Added Date:</span> {{ dateFront(repository.created_at) }}, {{ date1Front(repository.created_at) }}
            </b-list-group-item>
        </b-list-group>
          
        </b-col>

    </b-row>
    <Pagination
        v-if="Object.keys(repositories).length && repositories.total > repositories.per_page"
        :total-pages="repositories.last_page"
        :total="repositories.total"
        :per-page="repositories.per_page"
        :current-page="repositories.current_page"
        @pagechanged="onPageChange"
      />
   <div id="system_alert" class="container-w-75 m-auto">
          <SystemAlert></SystemAlert>
    </div>
  </div>
  </b-container>

  </div>
</template>

<script>
   import { mapGetters, mapActions } from "vuex";
   import Pagination from "../components/pagination.vue";
   import moment from 'moment';
  export default {
    title () {
    return `Repositories | Git Task`
    },
     components: {
         Pagination,
    },
    data() {
      return {
        currentPage: 1,
        isValid:false
      }
    },
    methods: {
    ...mapActions('Repository', ['fetchList']),
    onPageChange(page) {
      this.$store.commit("Alert/resetState", true);
      this.currentPage = page;
      this.fetchList(this.dataQuery)
      
    },
    dateFront(data){
        var a = moment(data)
        var b = moment()
        return a.from(b)
    },
    date1Front(data){
        var a = moment(data).format('DD-MM-YYYY hh:mm a')
        return a
    },
    testEndString(string)
    {
        var match = string.match(/\d+$/);
        return match ? true : false;
    },
    getRepository(id){
      this.$router.push({ name: 'repository', params: { id: id }})
    }
      

    },
    watch: {
      
      loading(val) {
        document.getElementById('mute').className = val ? "on" : "";
      },

    },
    mounted: function () {
        this.fetchList(this.dataQuery)
    },
    created() {
      
    },
    computed: {
        ...mapGetters("Repository", ["loading","repositories"]),
        dataQuery(){
            let query =  {
            id:this.$route.params.id,
            page: this.currentPage
            }
            return query
            
        }
    }, 
  }
</script>
<style>
.list-group-item.repository_list {
	border: 2px solid #f2f2f2;
	margin-top: 15px;
}

</style>
