<template>
  <div class="repository">

  <b-container class="bv-example-row ">

    <div class="mt-5 mb-3" id="repository_div">
      <b-row class="mb-3">

        <b-col cols="12" v-if="Object.keys(commits).length">
        <h1 ><b-icon class="text-primary" icon="github" aria-hidden="true"></b-icon> <a target="_blank" :href="commits.url">{{ commits.url }}</a></h1>
        <b-list-group >
        <b-list-group-item v-for="commit in commits.data" :key="commit.id" 
        class="commit_list"
        :class="{
            'number_sha': testEndString(commit.sha)
        }"
        >
            <span style="font-weight: 600;">SHA:</span> {{ commit.sha }}
            <hr class="mt-1 mb-1">
            <span style="font-weight: 600;">Message:</span> {{ commit.message }}
            <hr class="mt-1 mb-1">
            <span style="font-weight: 600;">Author:</span> {{ commit.author_name }}, {{ commit.author_email }}
            <hr class="mt-1 mb-1">
            <span style="font-weight: 600;">Date:</span> {{ dateFront(commit.date) }}, ({{ commit.date }})
            </b-list-group-item>
        </b-list-group>
          
        </b-col>

    </b-row>
    <Pagination
        v-if="Object.keys(commits).length && commits.total > commits.per_page"
        :total-pages="commits.last_page"
        :total="commits.total"
        :per-page="commits.per_page"
        :current-page="commits.current_page"
        @pagechanged="onPageChange"
      />
   <div id="system_alert" class="container-w-75 m-auto">
          <SystemAlert></SystemAlert>
    </div>
  </div>
  </b-container>

  </div>
</template>

<script>
   import { mapGetters, mapActions } from "vuex";
   import Pagination from "../components/pagination.vue";
   import moment from 'moment';
  export default {
    title () {
    return `Repository | Git Task`
    },
     components: {
         Pagination,
    },
    data() {
      return {
        currentPage: 1,
        isValid:false
      }
    },
    methods: {
    ...mapActions('Repository', ['fetchData']),
    onPageChange(page) {
      this.$store.commit("Alert/resetState", true);
      this.currentPage = page;
      this.fetchData(this.dataQuery)
      
    },
    dateFront(data){
        var a = moment(data);
        var b = moment();
        return a.from(b)
    },
    testEndString(string)
    {
        var match = string.match(/\d+$/);
        return match ? true : false;
    }
      

    },
    watch: {
      
      loading(val) {
        document.getElementById('mute').className = val ? "on" : "";
      },

    },
    mounted: function () {
        this.fetchData(this.dataQuery)
    },
    created() {
      
    },
    computed: {
        ...mapGetters("Repository", ["loading","commits"]),
        dataQuery(){
            let query =  {
            id:this.$route.params.id,
            page: this.currentPage
            }
            return query
            
        }
    }, 
  }
</script>
<style>
.list-group-item.commit_list {
	border: 2px solid #f2f2f2;
	margin-top: 15px;
}
.number_sha {
	background-color: #E6F1F6;
}
</style>
