<script>
export default {
    name: 'pagination',
  props: {
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 5
    },
    totalPages: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: true
    },
    currentPage: {
      type: Number,
      required: true
    }
  },
  computed: {
    startPage() {
      // When on the first page
      if (this.currentPage === 1) {
        return 1;
      }
      // When on the last page
      if (this.currentPage === this.totalPages && this.currentPage > this.maxVisibleButtons) {
        return this.totalPages - this.maxVisibleButtons;
      }
      // When in between
      return this.currentPage - 1;
    },
    pages() {
      const range = [];

      for (let i = this.startPage;
        i <= Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages);
        i+= 1 ) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage
        });
      }

      return range;
    },
    isInFirstPage() {
      return this.currentPage === 1;
    },
    isInLastPage() {
      return this.currentPage === this.totalPages;
    },
  },
  methods: {
    onClickFirstPage() {
      this.$emit('pagechanged', 1);
    },
    onClickPreviousPage() {
      this.$emit('pagechanged', this.currentPage - 1);
    },
    onClickPage(page) {
      this.$emit('pagechanged', page);
    },
    onClickNextPage() {
      this.$emit('pagechanged', this.currentPage + 1);
    },
    onClickLastPage() {
      this.$emit('pagechanged', this.totalPages);
    },
    isPageActive(page) {
      return this.currentPage === page;
    }
  }

};
</script>
<template>
    <div class="row">
        <div class="col-12">
        <nav aria-label="Page navigation example">
            <ul class="pagination agination-sm justify-content-end">
            <li class="page-item"> 
                <button
                    class="page-link"
                    aria-label="Previous"
                    type="button"
                    @click="onClickPreviousPage"
                    :disabled="isInFirstPage"
                    :class="{ disabled: isInFirstPage }"
                >
                    <span aria-hidden="true">&laquo;</span>
                </button>
            </li>
            <li class="page-item" v-for="(page,index) in pages" :key="index" :class="{ active: isPageActive(page.name) }">
                <button
                    class="page-link"
                    type="button"
                    @click="onClickPage(page.name)"
                    :disabled="page.isDisabled"
                >
                    {{ page.name }}
                </button>
            </li>
            <li class="page-item"> 
                <button
                    class="page-link"
                    aria-label="Next"
                    type="button"
                    @click="onClickNextPage"
                    :disabled="isInLastPage"
                    :class="{ disabled: isInLastPage }"
                >
                <span aria-hidden="true">&raquo;</span>
                </button>
            </li>
            </ul>
            <!-- /.pagination --> 
        </nav>
        </div>
        <!-- --> 
    </div>
    <!-- /.row -->
</template>

<style>
.pagination {
  list-style-type: none;
}

.pagination-item {
  display: inline-block;
}
</style>